header {
  background-color: var(--primary-color);
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: var(--font-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}

main {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
}

section {
  margin: 8.5rem 0;
}

section h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.todos p {
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  header {
    height: 4.5rem;
  }
  header h1 {
    font-size: 2rem;
  }
}
